<div class="new-pledge">
  <%= image_tag("FEA_Logo_Graphic.jpg", width: "80", style: "display: block; margin: auto") %>
  <h2>Fairwood Explorer Elementary Walkathon</h2>

  <%= render 'introduction' %>
  <hr>
  <%= render 'form' %>
</div>
