<div class="mycontainer new-pledge" style="background-color: white">
  <%= image_tag("Online_pledge_header.jpg", width: "500", style: "display: block; margin: auto") %>

  <%= render 'introduction' %>
  <hr>
  <%= render 'form' %>
</div>
