<div style="width: 800px; background-color: whitesmoke; margin: 20px auto auto auto; padding: 10px; border-radius: 10px">
  <h2 align="center">Fairwood Explorer Elementary Walkathon</h2>

  <%= render 'introduction' %>
  <hr>
  <%= render 'form' %>
</div>
