<div style="width: 350px; height: 150px; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background-color: aliceblue; padding: 10px; border-radius: 10px">
<h2 align="center">Thank you!</h2>
<p>Thanks for supporting Fairwood Elementary School. After the walkathon, we'll send you an invoice with your
  final donation amount.</p>
</div>
